<% content_for :top_content do %>
  <%= image_tag 'typewriter-greeting-no-period.jpg', class: 'img-responsive'  %>
<% end %>
<div class='row'>
  <div class="col-xs-12">
    <div class='front-page-text'>
      I'm an SDE at Amazon AWS where I work on the Billing Console team to better 
      the customer experience around interacting with their bill.
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= link_to "want to learn more about me?", about_path %>
    </h2>
    <h4 class="text-block">
      <%= link_to '(you know you wanna)', about_path %>
    </h4>
  </div>
</div>
