<% content_for :top_content do %>
  <%= image_tag 'typewriter-greeting-no-period.jpg', class: 'img-responsive'  %>
<% end %>
<div class='row'>
  <div class="col-xs-12">
    <div class='front-page-text'>
      I'm a student at Ada Developer's Academy, where I'm learning the ways of Ruby on Rails and Javascript, with a dash of computer science concepts to help build a strong foundation. 
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= link_to "want to see what i've been working on?", projects_path %>
    </h2>
  </div>
</div>
