<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      </p>
    </div>
  </div>
<% end %>

<div class='container'>
  <div class='row'> </div>
    <div class='col-lg-4 col-md-4'>
      <h1>Here's A Thing</h1>
    </div>
    <div class='col-lg-4 col-md-4'>
      <h1>Another Thing</h1>
    </div>
    <div class='col-lg-4 col-md-4'>
      <h1>And A third!</h1>
    </div>
</div>