<% content_for :top_content do %>
    <div class="container">
      <%= image_tag 'typewriter.jpg', class: 'img-responsive' %>
      </p>
    </div>
<% end %>

<div class='container'>
  <div class='row'> </div>
    <div class='col-lg-4 col-md-4'>
      <h1>Here's A Thing</h1>
    </div>
    <div class='col-lg-4 col-md-4'>
      <h1>Another Thing</h1>
    </div>
    <div class='col-lg-4 col-md-4'>
      <h1>And A third!</h1>
    </div>
</div>