<% content_for :top_content do %>
    <%= image_tag 'typewriter_small.jpg', class: 'img-responsive' %>
<% end %>

<div class='row page-header'>
  <h1>well hello, there</h1>
</div>

<div class='row'> </div>
  <div class='col-xs-6'>
    <h1>Here's A Thing</h1>
  </div>
  <div class='col-xs-6'>
    <h1>Another Thing</h1>
  </div>
</div>