<% content_for :top_content do %>
  <%= image_tag 'typewriter-greeting-no-period.jpg', class: 'img-responsive'  %>
<% end %>
<div class='row'>
  <div class="col-xs-12">
    <div class='front-page-text'>
      I'm a student at Ada Developer's Academy, where I'm learning the ways of HTML, CSS, Ruby (on Rails), and Javascript, with enough basic computer science to be excited about how much more there is to learn. 
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= link_to "want to see what i've been working on?", projects_path %>
    </h2>
    <h3 class="text-block">
      <%= link_to "or learn more about me?", about_path %>
    </h3>
    <h4 class="text-block">
      <%= link_to '(you know you wanna)', about_path %>
    </h4>
  </div>
</div>
