.row
  %h1 recent works in progress
  .col-sm-6.col-md-6.col-lg-6
    = link_to 'http://get-sweaty.herokuapp.com', :target => "_blank" do
      = image_tag 'GetSweaty.png', class: 'front-page-img img-responsive'
  .col-sm-6.col-md-6.col-lg-6
    = link_to 'http://rileysmagicaltasklist.herokuapp.com', :target => "_blank" do
      = image_tag 'TaskList.png', class: 'front-page-img img-responsive'