.row
  .col-sm-12.col-md-12.col-lg-12
    %h3 
    .form
      = form_for @post do |p|
        %p
          Title: 
          = p.text_field :title
        %p
          Body: 
          = p.text_area :body
        %p
          = submit_tag "Submit"