@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';


.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
}

.navbar-nav > li > a {
  padding-top:5px !important; padding-bottom:5px !important;
}

.navbar {
  min-height:32px !important
}

.navbar-nav > li > a, .navbar-brand 
{padding-top:5px !important; padding-bottom:0 !important; height: 30px; } 
.navbar {min-height:30px !important;}
