.page-footer
  =render 'divider'
  %p 
    &copy; Riley Spicer 2015 / 
    = link_to 'GitHub / ', 'http://www.github.com/rileyrileyrose' 
    = link_to "LinkedIn / ", "https://www.linkedin.com/in/rileyspicer"
    = link_to 'Twitter / ', 'https://twitter.com/rileyrileyrose'
    @rileyrileyrose