<nav class="navbar navbar-default">
      <div class="container">
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path, class: 'navbar-left' %></li>
            <li><%= link_to 'About Me', about_path %></li>
            <li><%= link_to 'Projects', projects_path, class: 'navbar-right' %></li>
          </ul>
          <ul class="nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>